

.App {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 15px;
}

.box {
    max-width: 400px;
}

.cipher-input {
    width: 100%;
    min-height: 80px;
}

label {
    display: block;
}

.up{
    width: 50px;
    height: 50px;
    background: url("assests/images/up.png");
}

.box2 button{
    width: 50px;
    font-weight: bolder;
    font-size: 50px;
}
.box2{
    display: flex;
    justify-content: space-between;
}
